
.artist-wrapper {
    background-color: rgb(33, 37, 41) !important;
}

h3, p, i {
    color: rgba(226,204,178,255);
}

.artist-header {
    position: relative;
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 600px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-name {
    font-size: 36px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

    .custom-table th, .custom-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .custom-table th {
        background-color: #f2f2f2;
    }

    .custom-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .custom-table img {
        position: relative;
        cursor: pointer;
    }

        .custom-table img:hover::before {
            content: "\f04b"; /* Unicode của biểu tượng "play" */
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color: #fff;
        }

.custom-table img {
    position: relative;
    cursor: pointer;
}

.custom-table .play-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 5px;
}

.custom-table td:hover .play-btn {
    display: block;
}

.custom-table .play-song {
    font-size: 24px;
    color: #fff;
}
.album-grid {
    display: flex;
    overflow-x: auto; /* Hiển thị thanh cuộn nếu danh sách album dài hơn */
}

.album-card {
    margin: 10px;
    text-align: center;
}

    .album-card img {
        max-width: 100%; /* Đảm bảo ảnh album không quá rộng */
        height: auto; /* Đảm bảo tỷ lệ khung hình ảnh không bị biến đổi */
    }
