
<h2>Top Listens</h2>
<div class="song_side">
    <div class="popular_song">
        <div class="h3">
            <div class="btn_s">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="pop_song" id="topSongsContainer">
            
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function displayTopSongs(topSongs) {
            const topSongsContainer = $('#topSongsContainer');
            topSongsContainer.empty();

            topSongs.forEach(function (song) {
                const songItem = $('<li class="songItem"></li>');

                const imgPlay = $('<div class="img_play"></div>');
                const img = $('<img>').attr('src', song.image);
                const playButton = $('<i class="fa fa-play play-song" aria-hidden="true"></i>')
                    .attr('data-song-id', song.id);

                imgPlay.append(img, playButton);
                const h4 = $('<h4></h4>');
                const songLink = $('<a href="/album/Index/"></a>').text(song.name);
                const mainArtistName = $('<span class="main-artist-name"></span>');
                const mainArtistLink = $('<a href="/artist/Artist- "></a>').text(song.performsOnSongs[0].artist.name);
                const subArtistName = $('<span class="sub-artist-name"></span>');
                const subArtistLink = $('<a href="/artist/Artist-"></a>').text(song.performsOnSongs[1].artist.name);

                mainArtistName.append(mainArtistLink);
                subArtistName.append(', ', subArtistLink);

                h4.append(songLink, '<br>', mainArtistName, subArtistName);

                songItem.append(imgPlay, h4);

                topSongsContainer.append(songItem);
            });
        }

        $.ajax({
            url: 'http://localhost:666/api/Song/top-10-songs',
            method: 'GET',
            success: function (data) {
                displayTopSongs(data);
                console.log(data);
            },
            error: function (error) {
                console.error("Error when retrieving top songs: ", error);
            }
        });
    });
</script>

