<style>
    #topSongsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .songItem {
        width: calc(50% - 20px);
        margin: 10px;
        box-sizing: border-box;
    }

    .img_play {
        position: relative;
    }

        .img_play img {
            width: 550px;
            height: 550px;
        }

    li {
        list-style: none;
    }

    .main-artist-name > a, .sub-artist-name > a {
        display: inline-block;
        font-size: 20px;
        margin-top: 13px;
        color: #fff;
        font-family: 'Butterfly Kids', cursive;
        text-decoration: none !important
    }

    .fa-custom {
        position: absolute;
        font-size: 50px;
        color: saddlebrown;
        cursor: pointer;
        transition: .3s linear;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .img_play:hover .fa {
        opacity: 1;
    }

</style>

<div class="song_side">
    <div class="popular_song" id="topSongsContainer">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function displayTopSongs(topSongs) {
            const topSongsContainer = $('#topSongsContainer');
            topSongsContainer.empty();

            topSongs.forEach(function (song) {
                const songItem = $('<li class="songItem"></li>');

                const imgPlay = $('<div class="img_play"></div>');

                const img = $('<img>')
                    .attr('src', song.image)
                    .attr('data-image2', song.image2)
                    .attr('data-image', song.image);

                img.on('mouseenter', function () {
                    const image2 = $(this).data('image2');
                    $(this).attr('src', image2);
                }).on('mouseleave', function () {
                    const originalImage = $(this).data('image');
                    $(this).attr('src', originalImage);
                });

                const playButton = $('<i class="fa fa-play fa-custom play-song" aria-hidden="true"></i>')
                    .attr('data-song-id', song.id);

                imgPlay.append(img, playButton);
                const h4 = $('<h4></h4>');

                const songLink = $('<a></a>')
                    .attr('href', `/artist-` + song.performsOnSongs[0].artist.id + `/album-${song.albumId}`)
                    .text(song.name);

                const mainArtistName = $('<span class="main-artist-name"></span>');
                const mainArtistLink = $('<a></a>')
                    .attr('href', '/artist/Artist-' + song.performsOnSongs[0].artist.id)
                    .text(song.performsOnSongs[0].artist.name);

                const subArtistName = $('<span class="sub-artist-name"></span>');

                if (song.performsOnSongs.length > 1) {
                    const subArtistLink = $('<a></a>')
                        .attr('href', '/artist/Artist-' + song.performsOnSongs[1].artist.id)
                        .text(song.performsOnSongs[1].artist.name);

                    subArtistName.append(', ', subArtistLink);
                }



                mainArtistName.append(mainArtistLink);

                h4.append(songLink, '<br>', mainArtistName, subArtistName);

                songItem.append(imgPlay, h4);

                topSongsContainer.append(songItem);
            });
        }

        $.ajax({
            url: 'http://localhost:666/api/Song/top-10-songs',
            method: 'GET',
            success: function (data) {
                displayTopSongs(data);
                console.log(data);
            },
            error: function (error) {
                console.error("Error when retrieving top songs: ", error);
            }
        });


    });
</script>

