

<div class="song_side">
    <div class="popular_song">
        <div class="h3">
            <h3>Top Songs</h3>
            <div class="btn_s">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="pop_song">
            <li class="songItem">
                <div class="img_play">
                    <img src="https://images.complex.com/complex/images/c_fill,g_center,w_1200/fl_lossy,pg_1,q_auto/hzugce2ivvojyvf8lrny/daniel-caesar-freudian-cover" alt="popularsong" />
                    @*Play button *@
                    <i class="fa fa-play play-song" aria-hidden="true" data-song-id="2"></i>
                </div>
                <h4>
                    <a href="/album/Index/">Best Part</a>
                    <br />
                    <span class="main-artist-name">
                        <a href="/artist/Artist- ">Daniel Caesar</a>
                    </span>
                    <span class="sub-artist-name">

                        <text>, </text> <a href="/artist/Artist- ">
                            H.E.R
                        </a>
                    </span>
                </h4>
            </li>
        </div>
    </div>
</div>